
body {background-color: #e9e9e9;}
h1 {color: green;}

.watch {
  width: 40%;
}

.scanner {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bottomColumns1 {
  background-color: #f1f1f1;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid;
  border-width: 10px;
  border-color: #e9e9e9;
  padding-top: 15px;
  font-size: 24px;
}

.bottomColumns2 {
  background-color: #f1f1f1;
  padding-left: 0;
  padding-right: 0;
  border-left: solid;
  border-width: 10px;
  border-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

a:hover {
   text-decoration:none;
   color: #657e3e;
}

.centerRow {
  margin-top: 20px;
}

tr {
  padding: 5px 5px 5px 5px;
}

.header {
  background-color: #c9df9b;
  color: white;
}

.circle {
  border-radius: 50%;
	width: 400px;
	height: 400px;
  background-color: #c9df9b;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

.innerCircle {
  border-radius: 50%;
	width: 360px;
	height: 360px;
  background-color: #c9df9b;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  color: white;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bold;
}


.bottom {
  margin: 25px 0 50px 0;
  padding: 0;
}

#day, #time, #date {
  margin-bottom: 0;
  color: #657e3e;
}

.timeDiv {

}

.myCarouselDiv {
  width: 100%;
}

.dateTime {
  padding-top: 25px;
  font-weight: bold;
  font-size: 16px;
}

.topHeadText {
  padding-left: 85px;
}

.myCarousel > img {
  height: 100%;
  width: 100%;
}

 .logoImage > img {
   height: 100%;
   width: 80%;
}

 .logoImage {
    max-height: 100px;
    padding-top: 2px;
}

.watchImg
  {
      float:left;
      margin: 0 20px 0 20px;
  }

.descrip
  {
      border-radius: 50%;
      width: 330px;
      height: 330px;
      background-color: #c9df9b;
      display: flex;
  }

.descrip > img {
  margin-left: 45px;
}

.title {
  font-size:  32px;
  font-family: Times;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  padding: 25px 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  height: 100%;
  background-color: #c9df9b;
  text-shadow: 1px 2px #a6a6a6;
}
