
body {background-color: #e9e9e9;}
h1 {color: green;}

.watch {
  width: 40%;
}

.scanner {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bottomColumns1 {
  background-color: #d1ecf1;
  margin-left: 40px;
}

.bottomColumns2 {
  background-color: #d1ecf1;
  float: right;
}

.centerRow {
  margin-top: 50px;
}

tr {
  padding: 5px 5px 5px 5px;
}

.header {
  background-color: #009999;
  color: white;
}

.bottom {
  margin: 50px 0 50px 0;
  padding: 20px;
  background-color: #d6d8d9;
}

#day, #time, #date {
  margin-bottom: 0;
}

.timeDiv {
  padding-left: 0;
}

.dateTime {
  vertical-align: middle;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 13px;
}

.title {
  font-size:  32px;
  vertical-align: middle;
  padding: 0 0 0 250px;
  margin: 0 0 0 0;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  height: 100%;
  font-family: Times;
  font-weight: bold;
  background-color: #009999;
  color: white;
}
